<div class="h-screen flex items-center justify-center">
  <div class="shadow-md rounded-md p-8 bg-white w-96">
    <div class="py-4 text-center">
      <h1 class="font-bold py-2 text-2xl">
        Recuperar Contraseña
      </h1>
      <h6 class="text-slate-600 text-base">
        Ingresa tu correo electrónico para recibir un enlace de recuperación
      </h6>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitForgotPassword()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="tu@email.com" formControlName="email" />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <button 
        type="submit" 
        [disabled]="!form.valid || isLoading"
        class="w-full border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold mb-4">
        <span *ngIf="!isLoading">Enviar Enlace de Recuperación</span>
        <span *ngIf="isLoading">Enviando...</span>
      </button>
    </form>

    <div class="text-center">
      <span class="text-slate-600">
        ¿Recordaste tu contraseña?
      </span>
      <a class="text-purple-700 ml-1" [routerLink]="['/login']">Volver al Login</a>
    </div>
  </div>
</div> 